<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sell Domains</title>
  <meta name="description" content="Sell Domains" />
  <meta name="author" content="Quaric Domains">
  <meta name="theme-color" content="#040D17" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="tailwind.css">
</head>

<body>
  <div class="container mx-auto">
    <%= domain %>
  </div>
</body>

</html>