<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= domain %></title>

  <% if (isForSale) { %>
    <meta name="description" content="The domain name <%= domain %> is for sale." />
  <% } else { %>
    <meta name="description" content="Our new website is launching soon." />
  <% } %>

  <meta name="theme-color" content="black" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="tailwind.css?t=ZCH0ldPZ">

  <style>
    body {
      transition: opacity 0.3s ease-in-out;
    }

    .text-full-width {
      display: inline-block;
      transform-origin: 0 0;
      transform: translate3d(0, 0, 0);
    }
  </style>
</head>

<body style="opacity: 0;">
  <div class="fixed bg-black bg-grid-white/[0.1] w-full h-full top-0 left-0 flex items-center justify-center p-4">
    <div class="absolute top-0 left-0 bottom-0 right-0 [mask-image:radial-gradient(ellipse_at_center,transparent_10%,black)] bg-black pointer-events-none"></div>

    <div class="relative z-10 w-screen space-y-4">
      <div>
        <h1 class="font-medium text-center text-full-width bg-clip-text text-transparent bg-gradient-to-b from-neutral-200 to-neutral-500">
          <%= domain %>
        </h1>
      </div>

      <div class="sticky bottom-4">
        <div class="flex flex-wrap gap-4 justify-center items-center flex-col md:flex-row">
          <% if (isForSale) { %>
            <span class="flex items-center px-4 py-2 rounded-full font-medium text-neutral-200 select-none">Domain name is for sale.</span>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdQtbDIHAXDEvAfLmG4OMN0h6CZOgtkKf4e09HWLwRnFmeEpA/viewform?usp=pp_url&entry.1782982522=<%= encodeURI(domain.toLowerCase()) %>" target="_blank" rel="noreferrer" class="flex rounded-full px-4 py-2 font-medium transition-colors bg-neutral-200 text-neutral-900 hover:bg-neutral-300 select-none">Make an offer</a>
          <% } else { %>
            <span class="px-4 py-2 rounded-full font-medium text-neutral-200 select-none">
              Our new website is launching soon.
            </span>
          <% } %>

          <a href="https://www.digitalocean.com/?refcode=474b42f30e7d&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge" title="DigitalOcean Referral Badge" aria-label="DigitalOcean Referral Badge">
            <img class="block rounded-full h-10 select-none" src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%203.svg" alt="DigitalOcean Referral Badge" />
          </a>
        </div>
      </div>
    </div>
  </div>

  <script src="text-full-width.js"></script>
</body>

</html>