@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'FS Magistral';
    src: url('./FS-Magistral-Medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'BT BeauSans';
    src: url('./BT-BeauSans-Regular.ttf') format('truetype');
    font-weight: 400;
  }

  body {
    @apply bg-black text-white font-body transition-opacity duration-300;
  }

  ::selection {
    @apply bg-neutral-700 text-white;
  }

  .text-full-width {
    @apply inline-block;

    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
  }
}